$white-text: #dddddd;
$black-text: #333333;
$link-text: #167ac6;

// Only manually set margins and padding
* {
    margin: 0;
    padding: 0;
}

body {
    color: $black-text;
    background-color: #f1f1f1;

    a {
        text-decoration: none;
        color: $link-text;

        &:hover {
            text-decoration: underline;
        }
    }
}

header {
    background-color: #ffffff;
    box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.3);
    padding: 1em 2em;
    display: flex;
    justify-content: flex-end;

    h1 {
        flex: 1;
    }

    .header-content {
        flex: 1;
        margin: auto;
        text-align: right;
    }

    a {
        position: relative;

        &:not(:last-child) {
            margin-right: 1em;
        }

        &:hover {
            text-decoration: none;
        }

        &::after {
            content: "";
            background: red;
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 2px;

            transition: transform 0.15s;
            transform: scaleX(0);
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }

    .header-content a {
        text-align: left;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    padding: .75em 2em;
    background-color: #333333;
    color: $white-text;
}

main {
    display: grid;

    &.login-page, &.signup-page {
        grid-template-columns: auto min-content auto;

        article {
            grid-column-start: 2;
        }
    }
}

article {
    background-color: #ffffff;
    box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.3);
    border-radius: 5px;
    margin: 2em;
    padding: 1em;
}

section {
    h2 {
        text-align: center;
        margin-bottom: 1rem;
    }
}

form {
    .form-group {
        display: flex;
        justify-content: flex-end;
        margin: .5em 0;

        input {
            width: 20em;
            margin: .2em 0;
            text-indent: .2em;
        }

        label {
            margin: .5em .5em .5em 0;
        }

        button {
            padding: .2em;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.login-links, .signup-links {
    text-align: center;

    p {
        margin-top: 1em;
    }

    p:not(:last-child) {
        margin-bottom: 1em;
    }
}

.forgot-links {
    display: flex;
    a {
        flex: 1;
    }
}

.dropdown {
    position: relative;
    display: inline-block;

    .dropdown-content {
        display: none;
        position: absolute;

        a {
            display: block;
        }
    }

    #profile-btn {
        border-radius: 50%;
        width: 64px;
        height: 64px;
        border: 1px solid #000000;
        background-image: url("https://i.redd.it/wg2sq045qn541.gif");
        background-size: cover;
        background-position: center;
    }

    .show {
        display: block;
    }
}

