$white-text: #dddddd;
$black-text: #333333;
$link-text: #167ac6;

// Only manually set margins and padding
* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: min-content auto min-content;
    height: 100vh;

    color: $black-text;
    background-color: #f1f1f1;

    a {
        text-decoration: none;
        color: $link-text;

        &:hover {
            text-decoration: underline;
        }
    }
}

header {
    grid-area: header;
    display: grid;
    grid-template-areas: "h1" "content";
    grid-template-columns: max-content auto;

    background-color: #ffffff;
    box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.3);
    padding: 1em 2em;

    h1 {
        grid-area: "h1";
        display: flex;
        align-items: center;
    }

    .header-content {
        grid-area: "content";
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    a {
        position: relative;

        &:not(:last-child) {
            margin-right: 1em;
        }

        &:hover {
            text-decoration: none;
        }

        &::after {
            content: "";
            background: red;
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 2px;

            transition: transform 0.15s;
            transform: scaleX(0);
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }
}

footer {
    grid-area: footer;

    padding: .75em 2em;
    background-color: #333333;
    color: $white-text;
}

main {
    grid-area: main;
    display: grid;

    &.login-page, &.signup-page {
        grid-template-columns: auto min-content auto;
        grid-template-rows: min-content auto;

        section {
            grid-column-start: 2;
        }
    }

    &.chat-page {
        grid-template-areas:
            "messages"
            "compose";
        grid-template-rows: auto min-content;
        min-height: 0; // Prevents messages grid section from expanding. It just works.

        .messages {
            grid-area: "messages";
            overflow-y: scroll;
        }

        .message-content {
            white-space: pre-line;
        }

        .compose {
            grid-area: "compose";
        }
    }

    &.index-page {
        grid-template-areas:
            "join"
            "create";
        grid-template-rows: auto min-content;
        min-height: 0;

        .join {
            grid-area: "join";
            overflow-y: scroll;
        }

        .create {
            grid-area: "create";
        }
    }
}

section {
    background-color: #ffffff;
    box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.3);
    border-radius: 5px;
    margin: 2em;
    padding: 1em;

    h2 {
        text-align: center;
        margin-bottom: 1rem;
    }
}

article {
    &.room-item {
        button {
            width: 100%;
        }
    }
}

form {
    .form-group {
        display: flex;
        justify-content: flex-end;
        margin: .5em 0;

        input {
            width: 20em;
            margin: .2em 0;
            text-indent: .2em;
        }

        label {
            margin: .5em .5em .5em 0;
        }

        button {
            padding: .2em;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.login-links, .signup-links {
    text-align: center;

    p {
        margin-top: 1em;
    }

    p:not(:last-child) {
        margin-bottom: 1em;
    }
}

.forgot-links {
    display: flex;
    a {
        flex: 1;
    }
}

.dropdown {
    position: relative;
    display: inline-block;

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        text-align: left;
        padding: .5em;
        background-color: #000000;

        * {
            color: $white-text;
            display: inline-block;

            &:not(:last-child) {
                margin-bottom: .5em;
            }
        }

        
    }

    #profile-btn {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        border: 1px solid #000000;
        background-image: url("https://i.redd.it/wg2sq045qn541.gif");
        background-size: cover;
        background-position: center;
    }

    .show {
        display: block;
    }
}
