<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <title>{{pageTitle}}</title>
</head>

<body data-page={{page}}>
    {{> header}}

    <main class="index-page">
        <article class="join">
            <section class="join-form">
                <h2>Join</h2>
                <form action="#">
                    <div class="form-group">

                    </div>
                </form>
            </section>
        </article>

        <article class="create">
            <section class="create-form">
                <h2>Create</h2>
                <form action="#">
                    <div class="form-group">
                        <label for="name">Room Name</label>
                        <input type="text" name="name" placeholder="room name" required>
                    </div>

                    <div class="form-group" title="Leave empty to make the room public">
                        <label for="password">Password (optional)</label>
                        <input type="password" name="password" placeholder="password (optional)" required>
                    </div>

                    <div class="form-group">
                        <label for="capacity">Capacity (1 - 100)</label>
                        <input type="number" name="capacity" value="100" min="1" max="100" required>
                    </div>

                    <div class="form-group">
                        <button type="submit">Create Room</button>
                    </div>
                </form>
            </section>
        </article>
    </main>

    {{> footer}}

    <script src="js/common.js"></script>
    <script src="js/index.js"></script>
</body>

</html>