<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}

    <div class="main-content">
        <h2>Join a Room</h2>
        <form action="/chat">
            <label for="display-name">Display Name</label>
            <input type="text" name="display-name" placeholder="Display name" required>
            <label for="room-name">Room Name</label>
            <input type="text" name="room-name" placeholder="Room name" required>
            <button>Join</button>
        </form>
    </div>

    {{> footer}}

    <script src="bundle.js"></script>
</body>

</html>