<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <title>{{pageTitle}}</title>
</head>

<body data-page={{page}}>
    {{> header}}

    <div class="main-content">
        <div class="signup">
            <h2>Signup</h2>
            <form action="/users" method="POST">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="username" required>

                <label for="email">Email</label>
                <input type="email" name="email" placeholder="email" required>

                <label for="password">Password</label>
                <input type="password" name="password" placeholder="password" required>

                <label for="password-confirm">Confirm Your Password</label>
                <input type="password" name="password-confirm" placeholder="password" required>

                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>

    {{> footer}}

    <script src="bundle.js"></script>
</body>

</html>